node_modules
.next
.env
.env.local
dist
build
supabase-schem-sql
supabase-schema-safe.sql
supabase-scheme-v2.sql
supabase-scheme-final.sql
fix-realtime-publication.sql
fix-realtime-publication.sql
fix-rls-policies.sql
migration-courts.sql
migration-settings.sql